@media screen and ( min-width: 770px) {
    .header_little_menu {
        display: none;
    }

    .header_big_menu {
        display: block;
        display: flex;
        justify-content: flex-end;
    }

    .header_big_menu a {
        color: #fff;
        text-decoration: none;
        font-size: 1.4rem;
    }

    .header_big_menu a:hover {
        color:  #000;

    }
}